@media screen and (max-width: 1024px){

}

@media screen and (max-width: 767px){
    .header {
        display: block;
        height: auto;
    }

    .header .header-logo {
        text-align: center;
    }

    .header ol {
        display: block;
    }

    .header ol li {
        height: 50px;
        text-align: center;
    }

    .header a {
        justify-content: center;
    }
}

@media screen and (max-width: 480px){

}

@media screen and (max-width: 320px){

}