@media screen and (max-width: 1024px){
    .container {
        padding: 0 1em;
    }
}

@media screen and (max-width: 767px){
    .header {
        display: block;
        height: auto;
    }

    .header .header-logo {
        text-align: center;
    }

    .header ol {
        display: block;
    }

    .header ol li {
        height: 50px;
        text-align: center;
    }

    .header a {
        justify-content: center;
    }

    .project {
        display: block;
    }

    .project-details {
        width: auto;
        font-size: 16px;
    }

    .project-title {
        font-size: 1.7em;
        margin-bottom: .3em;
    } 
    
    .project-course,
    .project-date,
    .project-url {
        margin: .4em 0;
    }


    .project-course {
        font-size: 1.2em;
    } 
    
    .project-date {
        font-size: 1em;
    } 
    
    .project-url {
        font-size: 1em;
    }
    
    .project-description {
        font-size: .8em;
    }

    .project-imageContainer {
        width: auto;
        text-align: center;
    }

    .event {
        width: auto;
        flex-shrink: initial;
    }

    .event img {
        width: 100%;
        position: bottom;
    }

    .event-detail {
        margin: -3em .5em .5em;
        padding: 1em;
    }
}

@media screen and (max-width: 480px){
    .project-details {
        width: auto;
        font-size: 12px;
    }

    .contact {
        height: auto;
        padding: 1em 0;
        display: block;
        text-align: center;
    }

    .form-email h3{
        margin-top: 0;
    }
    .form-email button {
        margin: 1.5em auto;
    }

    .footer {
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
}

@media screen and (max-width: 320px){

}